.txtforgot{
    -fx-text-fill: white;

}

.txtsignup{
    -fx-text-fill: white;
}

.txtUserName{
    -fx-text-fill: white;

}

.txtPassword{
    -fx-text-fill: white;
}
.txtUserNme{
    -fx-text-fill: white;
}

.txtEmail{
    -fx-text-fill: white;
}

.txtPassword{
    -fx-text-fill: white;
}